##############################
# Editor 
##############################
#Ignore swap files
*.swp

##############################
# Python
##############################
#Ignore Python compiled bytecode
*.pyc

##############################
# C
##############################
#Ignore debugging symbol files
*.dSYM


#Ignore compiled header files
*.gch

##############################
# Java
##############################
#ignore class files
*.class

##############################
# MacOS 
##############################
#Ignore DS_Store
.DS_Store
